body
{
	font: normal 90%/1.5em 'Trebuchet MS', Tahoma, sans-serif;
	color: #555;
	background: #FFF;
	margin: 0;
	padding: 4em 6em;
}
h1 { font-size: 300%; text-align:center; padding: 0.67em 1em 1.33em; margin: 0;}

nav ul {
        font: bolder 1em 'Trebuchet MS', sans-serif;
        color: #FFF;
        list-style: none;
        margin: 0; padding: 0;          
}
nav li {
        display: inline;
}
nav li a {
        float: left;
        display: block;
        padding: 3px 12px;      
        color: #FFF;
        background-color: #333;
        text-decoration: none;
        border-right: 1px solid #272727;
}
nav li a:hover {
        background: #65944A;
        color: #FFF;
}
nav li a.selected {
        background: #65944A;
        color: #FFF;
}

nav.distiller div.tabs
{
	clear:left;
	border: 4px solid #65944A;
	padding: 1em 3em;
	color:black;
	background: #98b786;
}

form { clear:left; }