* {
  margin: 0;
  padding: 0;
}

body {
  font:       normal 90%/1.5em 'Trebuchet MS', Tahoma, sans-serif;
  color:      #555;
  background: white;
  margin:     0;
  padding:    1em 2em;
}

h1 {
  font-size:  300%;
  text-align: center;
  padding:    0.67em 1em 1.33em;
  margin:     0;
  line-height:80%;
}

.lighter {
  /*background: #c7e5ab;*/
  margin: 0 auto;
}

ul {
  margin: 0 2em;
}

dl {
  padding: 0.5em;
}

dt {
  clear: left;
  text-align: left;
  font-weight: bold;
}

dd {
  margin: 0 0 0 50px;
  padding: 0 0 0.5em 0;
}

.hidden {
  display: none;
}

.banner {
  float: left;
}

ul.distiller {
  list-style:     none;
  margin:         0;
  padding:        0;
  padding-bottom: 1em;
}

ul.distiller li {
  display: inline;
}

ul.distiller>li>a, ul.distiller>li>a:link, ul.distiller>li>a:visited {
  border-bottom: solid 2px #ccc;
  margin-right: 0;
  padding: 3px 12px;
}

ul.distiller>li>a.active {
  border: solid 2px #ccc;
  border-bottom: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

form { clear:left; }

.form-control.form-control-sm {
  height: 20px;
  line-height: 20px;
}
form legend { border-bottom: none;}
form#distiller_input fieldset {
  border: none;
}

label.required {font-weight: bold;}

label.disabled {color: lightgrey;}

.btn-disappear[aria-expanded=true] {display: none;}
.messages > .sect > .subsect > .content {
  overflow-y: scroll;
  height: 400px;
  background-color: #f5f5f5;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px
}
footer {
  font-size:  80%;
  text-align: center;
  padding:    0.67em 1em 1.33em;
  margin:     0;
}
