@media all {
  body {padding-top: 60px;}

  footer p {text-align: center}
  .nav > li > .vers {
    float: none;
    display: block;
    padding: 15px 30px 11px;
    line-height: 19px;
    color: #999999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

  .scrollable {overflow: auto ;}

  ul.property-list {
    display: inline;
    padding-left: 5pt;
  }
  ul.property-list > li {display: inline;}
  ul.property-list > li:after { content: ", ";}
  ul.property-list > li:last-child:after { content: "";}

  ul.object-label {
    display: inline;
    padding-left: 5pt;
  }
  ul.object-label > li {display: inline;}
  ul.object-label > li:after { content: " > ";}
  ul.object-label > li:last-child:after { content: "";}

  ul.range-list {
    display: inline;
    padding-left: 5pt;
  }
  ul.range-list > li {display: inline;}
  ul.range-list > li:after { content: " or ";}
  ul.range-list > li:last-child:after { content: "";}

  ul.tests li {padding: 0;}
  ul.tests > li > div {padding: 0;}

  .doc-url {font-size: small;}
}