<footer>
  This is version <%= RDF::Distiller::VERSION %> of the RDF Distiller developed and hosted by <a target="_blank" href="https://greggkellogg.net/">Gregg Kellogg</a>.
  Please consider us when looking for Ruby Linked Data solutions.
</footer>