<header>
  <nav class="main">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/distiller">Distiller</a></li>
      <li><a href="/sparql">SPARQL endpoint</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/doap">Project Descriptions</a></li>
      <li><a target="_blank" href="/yard/index.html">Documentation</a></li>
    </ul>
  </nav>
</header>