<section typeof="doap:Project" resource="http://rubygems.org/gems/rdf">
  <h1 property="dc:title doap:name"><%= title %></h1>
  <p>
    This site acts as a playground for working with <a target="_blank" href="http://rdf.rubyforge.org">RDF.rb</a>,
    a Ruby toolkit for working with the <a href="http://en.wikipedia.org/wiki/Semantic_Web">Semantic Web</a>
    and <a target="_blank" href="http://linkeddata.org/">Linked Data</a>. RDF.rb is composed of a number of
    <a target="_blank" href="http://en.wikipedia.org/wiki/RubyGems">RubyGems</a>, most implemented in pure Ruby,
    that implement various aspects of the <em><strong>R</strong>esource <strong>D</strong>escription
    <strong>F</strong>ramework</em>, the language of the Semantic Web.
  </p>
  <p>
    This includes Gems used to read and write different data formats, including
    <a property="doap:implements" href="http://www.w3.org/TR/turtle/">Turtle</a>,
    <a property="doap:implements" href="http://json-ld.org/spec/latest/json-ld-syntax/">JSON</a>
    HTML (
      <a property="doap:implements" href="http://www.w3.org/TR/rdfa-core/">RDFa</a> and
      <a property="doap:implements" href="http://www.w3.org/TR/microdata-rdf/">microdata</a>) and
    <a property="doap:implements" href="http://www.w3.org/TR/rdf-syntax-grammar/">RDF/XML</a>
    varieties, Gems used to store and retrieve RDF Graphs, and Gems used to query <a target="_blank" href="http://en.wikipedia.org/wiki/Triplestore">RDF Datasets</a>.
    See <a property="rdfs:seeAlso" resource="/doap">Description of a Project Information</a> for details.
  </p>
  <p>
    The services implemented include an <a href="/distiller">RDF Distiller</a>, used to read and write different RDF
    representation formats, and a
    <a property="doap:implements" href="http://www.w3.org/TR/rdf-sparql-query/">SPARQL</a>
    endpoint, used to query arbitrary RDF Datasets (forthcoming).
  </p>
  <p>
    For more information on RDF.rb, see the <a property="rdfs:seeAlso" href="/about">about </a>page.
  </p>
</section>